doctype html
html(lang="en")
    head
        block title
            title="Holiday App"

        block meta

            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            
            script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js', type='text/javascript')

            //- Latest compiled and minified JavaScript
            //script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js', type='text/javascript')

            //- Latest compiled and minified CSS
            //link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css", rel='stylesheet', type='text/css')

            //- Optional theme
            //link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css",rel='stylesheet', type='text/css')     

            //- Main CSS file
            link(href="/css/base.css", rel='stylesheet', type='text/css')            

    body
        block header

        block content

        block footer
            footer
                p
                    a(href='http://possible.com') Possible        