html,
body{
    width: 100%;
    height: 100%;
}

.landing {
    width: 100%;
    height: 100%;
    position: relative;
	color: $color-white;
	font-family: $font-light;
	text-align: center;
}

.container {
    width: 100vw;
    position: absolute;
    top: 10vh;
    left: 0;
}

.messages {
    .message {
        display: none;

        &.active {
            display: block;
        }
    }
}

.quote-message {
    width: 70vw;
    max-width: 900px;
    margin: 0 auto;

    p {
        font-family: $font-thin;
        font-size: 5vw;
        line-height: 9.5vh;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:before{
            content:"“";
        }

        &:after{
            content:"”";
        }
    }

    small {
        display: block;
        padding-top: 10px;
        font-size: 14px;
        line-height: 2vw;
    }
}
    
.dotted-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 38vh;
    padding: 0;

    h1.headline {
        position: absolute;
        top:8vh;
        left: 0;
        width: 100vw;
        font-size: 22.5px;
        line-height: 20px;
        text-transform: uppercase;
    }
}

.login{
    text-align: center;
    position: absolute;
    width: 100vw;
    top: 18vh;
    left: 0;

    li {
        display: inline-block;
    }

    a.btn {
        display: inline-block;
        margin: 0 20px;
        padding: 0 77px 0 20px;

        background-color: $color-black;
        color: $color-white;

        font-family: $font-light;
        font-size: 27px;
        line-height: 57px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        position: relative;

        &:before {
            font-family: icomoon;
            position: absolute;
            top:0;
            right:0;
            width: 57px;
            display:block;
            text-align: center;
            border-left: 1px solid #c2c2c2;
        }

        &:hover{
            background-color:$color-white;
            color: $color-black;
        }
    }  
}


@media (max-width: 640px) {
    .container{
        top: 7vh;
    }

    .quote-message {
        width: 70vw;

        p {
            font-size: 5.5vw;
            line-height: 5.5vh;
        }
    }
        
    .dotted-container{
        h1.headline {
            position: static;
            width: 90vw;
            margin: 0 auto;
            font-size: 18px;
            line-height: 20px;
            padding: 2vh 0;
        }
    }

    .login{
        position: static;
        text-align: center;

        li{
            width: 70vw;
        }

        a.btn{
            display: block;
            padding: 0 40px 0 0px;
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 2.5vh;

            &:before {
                width: 40px;
                height: 40px;
            }
        }
    }
}
